{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-narrow">

  <hr>
  <div class="jumbotron">
    <h1>Ajouter un atelier Yakasserole</h1>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <form method="post" action="{% url 'ajout_atelier' %}" enctype="multipart/form-data">

        {% csrf_token %}

        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}

        {{ form.Nom.label_tag }}
        {{ form.Nom }}
        {% for error in form.Nom.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Lieux.label_tag }}
        {{ form.Lieux }}
        {% for error in form.Lieux.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Themes.label_tag }}
        {{ form.Themes }}
        {% for error in form.Themes.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Chef.label_tag }}
        {{ form.Chef }}
        {% for error in form.Chef.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Prix.label_tag }}
        {{ form.Prix }}
        {% for error in form.Prix.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Date_inscription.label_tag }}
        {{ form.Date_inscription }}
        {% for error in form.Date_inscription.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Date_premium.label_tag }}
        {{ form.Date_premium }}
        {% for error in form.Date_premium.errors %}
        {{ error }}
        {% endfor %}

        {{ form.date_atelier.label_tag }}
        {{ form.date_atelier }}
        {% for error in form.date_atelier.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Places.label_tag }}
        {{ form.Places }}
        {% for error in form.Places.errors %}
        {{ error }}
        {% endfor %}

        {{ form.Messages.label_tag }}
        {{ form.Messages }}
        {% for error in form.Messages.errors %}
        {{ error }}
        {% endfor %}

        {{ form.picture.label_tag }}
        {{ form.picture }}
        {% for error in form.picture.errors %}
        {{ error }}
        {% endfor %}

        <button type="submit" class="btn btn-default">Ajouter</button>
      </form>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
{% endblock %}
