{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Atelier "{{ object.Nom }}"</h1>
  </div>

  <div class="row-fluid marketing">
    <div class="span6">
      <hr>
      <h4>Les lieux:</h4>
      <p>
        {% for lieu in object.Lieux.all %}
        Cet atelier est présent à {{ lieu }}!
        <br>
        {% endfor %}
      </p>
      <hr>
      <h4>Les thèmes:</h4>
      
      <p>
        {% for theme in object.Themes.all %}
        L'un des thèmes de cet atelier est {{ theme }}.
        <br>
        {% endfor %}
      </p>
      
      <hr>
      <h4>Et tout cela sera dirigé par {{ object.Chef.first_name }} {{ object.Chef.last_name }}, notre chef sur place!</h4>
      <hr>
      <h4>l'atelier commence le {{ object.date_atelier }}</h4>

      {% if user.is_staff%}
      <p>
        date premium : {{ object.Date_premium }}
        <br>
        Inscription ouverte à partir du {{ object.Date_inscription }}
      </p>
      {% endif %}
      <hr>
      
      <h4>Il reste {{ object.LastPlaces }} places.</h4>
      
      <hr>
      <h4>Une petite description pour vous faire envie:</h4>
      {{ object.Messages }}
      <hr>

      {% for comment in object.Commentaires.all %}
      {{ comment.user.first_name }}
      {{ comment.user.last_name }}
      {{ comment.Titre }}
      {{ comment.Messages }}
      {% endfor %}
      <hr>
      <p><img src="{{ object.picture.url }}" width="200 px"></p>

      <div class="new comment">
          <h2>Poster un commentaire</h2>
          <form method="post" action="{% url 'atelier' pk=object.id %}">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-default">Publier</button>
          </form>
      </div>

      {% if user.is_staff%}
      <hr>
      <a class="btn btn-large btn-success" href="{% url 'modifier_atelier' pk=object.id %}">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Modifier l'atelier</a>
      <a class="btn btn-large btn-success" href="{% url 'supprimer_atelier' pk=object.id %}">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Supprimer l'atelier</a>
      {% endif %}
      
      {% if inscrit %}
      <a class="btn btn-large btn-success"
         href="{% url 'desinscription_atelier' atelier_id=object.id %}"><span class="glyphicon
                                                                                     glyphicon-ok"></span>
        &nbsp; Se désinscrire à l'atelier</a>
      {% else %}
      {% if object.LastPlaces > 0 %}
      <a class="btn btn-large btn-success"
         href="{% url 'inscription_atelier' atelier_id=object.id %}"><span class="glyphicon
                                                                                  glyphicon-ok"></span>
        &nbsp; S'inscrire à l'atelier</a>
      {% endif %}
      {% endif %}
    </div>
  </div>

  <hr>
  
</div> <!-- /container -->
{% endblock %}
