{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Atelier</h1>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      {{ object.Nom }}
      <br>
      {% for lieu in object.Lieux.all %}
        {{ lieu }}
        <br>
      {% endfor %}
      {% for theme in object.Themes.all %}
        {{ theme }}
        <br>
      {% endfor %}

      {{ object.Chef.first_name }}
      {{ object.Chef.last_name }}
      <br>
      {{ object.Date_inscription }}
      <br>
      {{ object.Date_premium }}
      <br>
      {{ object.date_atelier }}
      <br>
      {{ object.Places }}
      <br>
      {{ object.Messages }}
      <br>

      {% for comment in object.Commentaires.all %}
        {{ comment }}
      {% endfor %}
      <br>
      <p><img src="{{ object.picture.url }}" width="300px"></p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Copyright <a href="/">YaKasserole company 2017</a></p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
