{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Les ateliers Yakasseroles</h1>
    <p class="lead">Les ateliers Yakasseroles sont l'opportunité de s'améliorer
    dans ses compétences et de se rapprocher de sa famille et de ses amis, venez
      participer à un atelier dès aujourd'hui!</p>
    {% if perms.auth.cpa %}
    <a class="btn btn-large btn-success"
       href="/atelier/ajout"><span class="glyphicon glyphicon-cutlery"></span>
      &nbsp; Ajouter un atelier</a>
    {% endif %}
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      {% for atelier in object_list %}
      <a href="{% url 'ateliers' %}/{{ atelier.id }}">
        <div data-content="{{ atelier.Nom }}" class="atelier_img">
          <img src="{{ atelier.picture.url }}" alt="">
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  
  <hr>
  
</div> <!-- /container -->

{% endblock %}
