{% extends "base.html" %}
{% load static %}
{% block content %}

<head lang="fr">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>YaKasserole</title>
</head>

<div class="parallax2">
  <div class="caption">
    <span class="border">Bienvenue sur Yakasserole</span>
  </div>
</div>
<div class="caption">
  <span class="border">Bienvenue sur Yakasserole</span>
</div>

{% endblock %}
