{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>yakasserole, pour une casserole remplie a plusieurs!</h1>
    <p class="lead">Aujourd'hui, les traditions se perdent, la chaleur
      n'est plus au rendez-vous, votre conjoint(e) vous regarde
      de travers? Ne cherchez-plus, venez participer a l'un de nos atelier!</p>
      <a class="btn btn-large btn-success"
      href="/accounts/register"><span class="glyphicon
      glyphicon-cutlery"></span> &nbsp; Inscrivez-vous aujourd'hui</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Le partage</h4>
      <p>
	Partager un gâteau, un fraisier par exemple, c’est le découper en un certain nombre de parts.
	C’est faire de la variété à partir de l’unité.
      </p>
      <h4>Une entreprise chaleureuse</h4>
      <p>
	Le bel art de la gastronomie est un art chaleureux.
	Il dépasse la barrière du langage, fait des amis parmi les gens civilisés
	et revigore le coeur.
      </p>
      <h4>La tradition</h4>
      <p>
	A mesure que le cuisinier avance dans la vie, il arrive à une sorte de
	possession invétérée des idées et des objets, qui n'est autre chose qu'une
	profonde habitude du vivre.
	Il devient à lui-même sa propre tradition. 
      </p>
      
      <h4>La qualité</h4>
      <p>
	Être cuisinier, c'est transformer en excellence ce qui ne
	l'était pas : la fragilité en force, l'omnipotence en assurance,
	et transcender simultanément tout cela.
      </p>
      <h4>L'excellence</h4>
      <p>
	La Table, c'est l'endroit de détente et de convivialité par excellence...
	C'est pourquoi, il faut également utiliser son imagination pour venir
	transcender les efforts de la cuisine.
      </p>
      <h4>Perfection</h4>
      <p>
	La perfection est atteinte, non pas lorsqu'il n'y a plus d'ingrédient à
	adjoindre, mais lorsqu'il n'y a plus rien à retirer.
      </p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Copyright <a href="/">YaKasserole company 2017</a></p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
