{% extends "base.html" %}
{% load static %}
{% block content %}

<head lang="fr">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
   <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>YaKasserole</title>
  <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>yakasserole, pour une casserole remplie a plusieurs!</h1>
            <p class="lead">Aujourd'hui, les traditions se perdent, la chaleur
                      n'est plus au rendez-vous, votre conjoint(e) vous regarde
                      de travers? Ne cherchez-plus, venez participer a l'un de
                      nos atelier!<a class="btn btn-large btn-success" href="/accounts/register"><span class="glyphicon glyphicon-cutlery"></span>Inscrivez-vous aujourd'hui</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas
                  faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                          <p>Morbi leo risus, porta ac consectetur ac,
                          vestibulum at eros. Cras mattis consectetur purus sit
                            amet fermentum.</p>

                          <h4>Subheading</h4>
                                    <p>Maecenas sed diam eget risus varius
                                      blandit sit amet non magna.</p>
    </div>

    <div class="span6">
      <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas
                  faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                          <p>Morbi leo risus, porta ac consectetur ac,
                          vestibulum at eros. Cras mattis consectetur purus sit
                            amet fermentum.</p>

                          <h4>Subheading</h4>
                                    <p>Maecenas sed diam eget risus varius
                                      blandit sit amet non magna.</p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
{% endblock %}
