{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Mon compte</h1>
    <p class="lead">Bienvenue sur votre page de compte!</p>
  </div>

  <hr>
  
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Bonjour {{request.user.firstname}} {{request.user.lastname}}</h4>
      <h4>Vous avez participé à: 12 ateliers</h4>
      <h4>Vous avez publié: 7 recettes</h4>
      <h4>Vous avez posté: 24 commentaires</h4>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Copyright <a href="/">YaKasserole company 2017</a></p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
