{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Mon compte</h1>
    <p class="lead">Bienvenue sur votre page de compte!</p>
  </div>

  <hr>
  
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Bonjour {{request.user.first_name}} {{request.user.last_name}}</h4>
      <h4>Vous avez participé à: {{nb_atelier}} ateliers</h4>
      <h4>Vous avez publié: {{nb_recettes}} recettes</h4>
      <h4>Vous avez posté: {{nb_commentaires}} commentaires</h4>
      {% if user.groups.all.exists %}
      <h4>Vous êtes {{ user.groups.all.0 }}</h4>
      {% else %}
      <h4> Vous êtes un administrateur</h4>
      {% endif %}
    </div>
  </div>

  <hr>
  
</div> <!-- /container -->
{% endblock %}
