{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <p class="lead">Bienvenue sur ma page de compte!</p>
  </div>

  <hr>
  
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Prénom</h4>
      <input class="form-control" id="disabledInput" type="text"
             placeholder="{{user.first_name}}" disabled>
      <h4>Nom</h4>
      <input class="form-control" id="disabledInput" type="text"
                          placeholder="{{user.last_name}}" disabled>
      <h4>Statut</h4>
      {% if user.groups.all.exists %}
      <input class="form-control" id="disabledInput" type="text"
                          placeholder="{{user.groups.all.0}}" disabled>
      {% else %}
      <input class="form-control" id="disabledInput" type="text"
                                       placeholder="Administrateur" disabled>
      {% endif %}
      <hr>
      <h4>A participé à: {{nb_atelier}} ateliers</h4>
      <h4>A publié: {{nb_recettes}} recettes</h4>
      <h4>A posté: {{nb_commentaires}} commentaires</h4>

      {% if themes %}
      Ce chef a encadré des ateliers de type:
      <br>
      {% for t in themes %}
        {{ t }}
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <hr>
  
</div> <!-- /container -->
{% endblock %}
