{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h4>Merci pour avoir passé du temps de qualité sur notre site web aujourd'hui.</h4>
  </div>
<div class="row-fluid marketing">
  <hr>

  <a class="btn btn-large btn-success" href="/accounts/login"><span class="glyphicon glyphicon-cutlery"></span> &nbsp; Se connecter à nouveau</a>
</div>
  
{% endblock %}
