{% extends "base.html" %}
{% load static %}

{% block content %}

<head lang="fr">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Connexion</title>
</head>

<div class="feature">
          <div class="feature-inner">
            <h1>J'ai déjà un compte yakasserole</h1>
          </div>
        </div>

{% if form.errors %}
<p>Mauvais mot de passe ou utilisateur veuillez recommencer</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Vous essayez de vous connecter avec un autre compte que le votre ou vous
    essayez d'acceder à une page dont vous n'avez pas les accés</p>
    {% else %}
    <p>Veuillez vous connectez afin d'acceder à votre profile</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div>
  <label>Utilisateur: </label>{{ form.username }}
  <!--<td>{{ form.username.label_tag }}</td>-->
</div>
<div>
  <label>Mot de passe: </label>{{ form.password }}
    <!--<td>{{ form.password.label_tag }}</td>-->
</div>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="/accounts/register/">Je n'ai pas de compte</a></p>
<p><a href="{% url 'password_reset' %}">J'ai oublié mon mot de passe</a></p>
<p><a href="/admin/">Je suis un administrateur</a></p>

{% endblock %}
