{% extends "base.html" %}
{% load static %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<head lang="fr">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Inscription</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<div class="feature">
  <div class="feature-inner">
    <h1>Je souhaite créer un compte yakasserole</h1>
  </div>
</div>

<form method="post" action=".">
  {{ form.as_p }}
  <input type="submit" value="register" />
  {% csrf_token %}
</form>
{% endblock %}
