{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Nous contacter</title>
    </head>
    <!-- Did you try yakasserole.fr/ing1 ? There is some bonus points for h3ckers -->
            <div class="feature">
                <div class="feature-inner">
                <h1>Nous contacter</h1>
                </div>
            </div>
            <p>Vous pouvez nous joindre à contact@yakasserole.fr</p>
            <div id="content">
                <div id="content-inner">  
                    <main id="contentbar">
                        <div class="article">
                            <form action="" method="post">
                            <div>
                                <label for="nom">Nom :</label>
                                <input type="text" placeholder="Nom" id="nom" />
                            </div>
                            <div>
                                <label for="email">Email :</label>
                                <input type="email" placeholder="Email" id="email" />
                            </div>
                            <div>
                                <label for="message">Message :</label>
                                <textarea id="message"></textarea>
                            </div>
                            
                            <div class="button">
                                <button onclick="alert('CONCOURS : Tu peux passer au laboratoire des assistants pour réciter une recette de ta composition en alexandrin. Le gagnant sera récompensé :-)');" type="submit">Envoyer votre message</button>
                            </div>
                        </form>
                        </div>
                    </main>
                    <div class="clr"></div>
                </div>
            </div>
        
            <div id="footerblurb">
                <h1 style="margin:10px">Ils témoignent…</h1>
                <div id="footerblurb-inner">
                    <div class="column">
                        <blockquote>
                            <p><i>Depuis que j'utilise YaKasserole, ma vie a changé.</i></p>
                            <footer><h2>— Jean Bon</h2></footer>
                        </blockquote>
                    </div>
                    <div class="column">
                        <blockquote>
                            <p><i>YaKasserole m'a ouvert l'appetit et fait découvrir de nouvelles saveurs.</i></p>
                            <footer><h2>— Aubin Marie</h2></footer>
                        </blockquote>
                    </div>
                    <div class="column">
                        <blockquote>
                            <p><i>Je n'ai plus jamais manqué de PAIC Citron.</i></p>
                            <footer><h2>— Aude Wesel</h2></footer>
                        </blockquote>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
{% endblock %}
