{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-narrow">

  <hr>
  
  <div class="jumbotron">
    <h1>Nous contacter</h1>
    <p class="lead">Vous pouvez nous joindre à yakasserole2017@gmail.com</p>
  </div>

  <hr>
  <div class="row-fluid marketing">
    <div class="span6">  

      {% if not confirm %}
      <form method="post" action="#" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-default">Envoyer</button>
      </form>
      {% else %}
      Votre message a bien été envoyé
      {% endif %}

    </div>
  </div>

</div>

{% endblock %}
