{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Did you try yakasserole.fr/ing1 ? There is some bonus points for h3ckers -->
            <div class="feature">
                <div class="feature-inner">
                <h1>Nous localiser</h1>
                </div>
            </div>
    
            <div id="content">
                <div id="content-inner">  
                    <main id="contentbar">
                        <div class="article">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92457.01034638699!2d1.3628009736301723!3d43.60067857081335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6fec7552ff%3A0x406f69c2f411030!2sToulouse!5e0!3m2!1sfr!2sfr!4v1478010145031" width="600" height="450" frameborder="0" style="display: block;margin-left: auto;
                                            margin-right: auto;border:0" allowfullscreen></iframe>
                            <p>
                                On est sur Toulouse mamène tu connais.
                            </p>
                        </div>
                    </main>
                    <div class="clr"></div>
                </div>
            </div>
        
            <div id="footerblurb">
                <h1 style="margin:10px">Ils témoignent…</h1>
                <div id="footerblurb-inner">
                    <div class="column">
                        <blockquote>
                            <p><i>Depuis que j'utilise YaKasserole, ma vie a changé.</i></p>
                            <footer><h2>— Jean Bon</h2></footer>
                        </blockquote>
                    </div>
                    <div class="column">
                        <blockquote>
                            <p><i>YaKasserole m'a ouvert l'appetit et fait découvrir de nouvelles saveurs.</i></p>
                            <footer><h2>— Aubin Marie</h2></footer>
                        </blockquote>
                    </div>
                    <div class="column">
                        <blockquote>
                            <p><i>Je n'ai plus jamais manqué de PAIC Citron.</i></p>
                            <footer><h2>— Aude Wesel</h2></footer>
                        </blockquote>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
{% endblock %}
