{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">
  <div class="jumbotron">
    <h1>Nous localiser</h1>
  </div>
  <div class="row-fluid marketing">
    <div class="span6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d92457.01034638699!2d1.3628009736301723!3d43.60067857081335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb6fec7552ff%3A0x406f69c2f411030!2sToulouse!5e0!3m2!1sfr!2sfr!4v1478010145031"
      width="600" height="450" frameborder="0" style="display:
      block;margin-left: auto; margin-right: auto; border:0" allowfullscreen></iframe>
      <p class="lead">
        YaKasserole est originaire de Toulouse (31) et possède
        donc son siège social dans le centre-ville. La plupart
        des salariés de la société travaillent sur ce site.
        Nous possédons néanmoins un certains nombres de locaux répartis dans
        plusieurs villes pour organiser les ateliers culinaires.</p>
      <h4>nos locaux</h4>
      <p>
      • Local YaKasserole quartier Compans
      (métro Compans Caffarelli, 31000 Toulouse)
      • Local YaKasserole quartier du
      Marais (métro Saint-Paul, 75004 Paris)
      • Local YaKasserole quartier Rihour
      (métro Rihour, 59800 Lille)
      • Local YaKasserole quartier
      Saint-Genès (métro Navarre, 33000 Bordeaux)
      </p>
    </div>
  </div>
  <div class="footer">
    <p>&copy; Copyright <a href="/">YaKasserole company 2017</a></p>
  </div>
</div>

{% endblock %}
