{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Ceci est l'atelier  Nom de l'atelier</h1>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Nom d'atelier 1</h4>
      <p>
        description atelier alléchante.
      </p>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; Copyright <a href="/">YaKasserole company 2017</a></p>
  </div>
  
</div> <!-- /container -->
{% endblock %}
