{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">
  <h1>Nouvelle recette</h1>

  <form method="post" action="#" enctype="multipart/form-data">
    {% include "recette/form.html" %}
  </form>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery/jquery.formset.js' %}"></script>
<script>
    $('.etapes-formset').formset({
        addText: 'Ajouter étape',
        deleteText: 'Supprimer étape'
    });
</script>
{% endblock %}
