{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">
  <h1>Modifier votre recette</h1>

  <form method="post" action="{% url 'ajout' %}">
      {% csrf_token %}
      {{ form }}
      {% for etape_form in etapes_formset.forms %}
      <div class="etapes-formset">
        {{ etape_form.as_p }}
      </div>
      {% endfor %}

      {{ etapes_formset.management_form }}

      <button type ="submit" class="btn btn-default" value="add">Soumettre</button>
  </form>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'jquery/jquery.formset.js' %}"></script>
<script>
    $('.etapes-formset').formset({
        addText: 'Ajouter étape',
        deleteText: 'Supprimer étape'
    });
</script>

{% endblock %}
