{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">
  <div class="jumbotron">
    <h1>{{ object.Titre }}</h1>
    <h4>
      <em>
        Recette de {{ object.Type }} pour {{ object.Nombre_portions }} personnes.
      </em>
    </h4>

    <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Nombre de portions</th>
            <th>{{ object.Nombre_portions }} / 5</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Difficulté</th>
            <th>{{ object.Difficulte }} / 5</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Coût des ingrédients</th>
            <th>{{ object.Cout }} €</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Temps de préparation</th>
            <th>{{ object.Temps_preparation }} heure</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th>Temps de cuisson</th>
            <th>{{ object.Temps_cuisson }} heure</th>
          </tr>
        </tbody>
      </table>
    </div><!-- panel-body -->
  </div><!-- jumbotron -->

  <!-- TODO -->
  <div class="recipe-img">
    <!--<img src="{{ object.picture.url }}" alt="Photo de la recette"> -->
  </div>

  <h2>Prérequis</h2>
  <h3>Ingrédients</h3>
  <ol class="breadcrumb">
    {% for ing in object.Ingredients.all %}
    <li>{{ ing }}</li>
    {% endfor %}
  </ol>

  <h3>Ustensiles</h3>
  <ol class="breadcrumb">
    {% for us in object.Ustensiles.all %}
    <li>{{ us }}</li>
    {% endfor %}
  </ol>

  <h3>Matériel</h3>
  <ol class="breadcrumb">
    {% for el in object.Electromenager.all %}
    <li>{{ el }}</li>
    {% endfor %}
  </ol>

  <h2>Étapes</h2>
  <ul>
    {% for etape in object.Etapes.all %}
    <h3>{{ etape.Titre }}</h3>
    {{ etape.Contenu }}
    {% endfor %}
  </ul>

  {% for remarque in object.Remarques.all %}
  <div class="alert alert-success" role="alert">{{ remarque }}</div>
  {% endfor %}

  {% if own %}
  <a href="{% url 'modifier_recette' pk=object.id %}">Modifier la recette</a>
  <a href="{% url 'supprimer_recette' pk=object.id %}">Supprimer la recette</a>
  {% endif %}

  <h2>Commentaires</h2>
  {% for comment in object.Commentaires.all %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <strong>
          {{ comment.Titre }}
        </strong>
        <div class="pull-right">
          <em>
            Par {{ comment.user.first_name }} {{ comment.user.last_name }}
          </em>
        </div>
      </div><!-- panel-title -->
    </div><!-- panel-heading -->
    <div class="panel-body">
      {{ comment.Messages }}
    </div>
  </div>
  {% endfor %}
  <div class="new comment">
    <h2>Poster un commentaire</h2>
    <form method="post" action="{% url 'recette' pk=object.id %}">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-default">Publier</button>
    </form>
  </div>
</div>

{% endblock %}
