<h1>Connexion</h1>
<!--
<form action="/connection/" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value="{{ password }}">
    <input type="submit" value="Connexion">
</form>
-->
<form action="" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit" value="Connexion" />
    {% if password == "wrong" %}
      <div>
        Wrong Password
      </div>
    {% endif %}
</form>
