{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-narrow">

    <hr>

    <div class="jumbotron">

        {% if form.errors %}
                <h1>Mauvais mot de passe ou utilisateur, veuillez recommencer</h1>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <h1>Vous essayez de vous connecter avec un autre compte que le votre ou vous
            essayez d'acceder à une page dont vous n'avez pas les accés</h1>
        {% else %}
        <h1>Veuillez vous connectez afin d'acceder à votre profile</h1>
        {% endif %}
        {% endif %}

    </div>
    <hr>
    <form method="post" action="{% url 'connect' %}">
        {% csrf_token %}

        <label for="id_username">Adresse mail :</label>
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}
        <button type="submit" class="btn btn-default" value="login">Se connecter</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <hr>

    <p><a class="btn btn-large btn-success" href="/accounts/register/">Je n'ai pas de compte</a></p>
    <p><a class="btn btn-large btn-success" href="{% url 'password_reset' %}">J'ai oublié mon mot de passe</a></p>

</div>

{% endblock %}
