{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Vos transactions</h1>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      {% for paymentsLink in object_list %}
      <p><img src="{{ paymentsLink.atelier.atelier.picture.url }}" width="200 px"></p>
        <h3>Type: {{ paymentsLink.payment.description }}</h3>
        <h4>demandé le: {{ paymentsLink.payment.created }} </h4>
        <h4>monnaie: {{ paymentsLink.payment.currency }} </h4>
        <h4>total à payer: {{ paymentsLink.payment.total }} </h4>
        <h4>taxes incluses: {{ paymentsLink.payment.tax }}%</h4>
        {% if not paymentsLink.payment.status == "confirmed" %}
        <a href="payment_process/{{paymentsLink.id}}">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
            Effectuer le paiement
          </button>
        </a>
        {% endif %}
        <hr>
      {% endfor %}
    </div>
  </div>
  
  <hr>
  
</div> <!-- /container -->

{% endblock %}
