{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Vos transactions en cours</h1>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      {% for paymentsLink in object_list %}
        <h3>Type: {{ paymentsLink.payment.description }}</h3>
        <h4>Etat: {{ paymentsLink.payment.status }} </h4>
        <h4>variante: {{ paymentsLink.payment.variant }} </h4>
        <h4>demandé le: {{ paymentsLink.payment.created }} </h4>
        <h4>modifié le: {{ paymentsLink.payment.modified }} </h4>
        <h4>monnaie: {{ paymentsLink.payment.currency }} </h4>
        <h4>total à payer: {{ paymentsLink.payment.total }} </h4>
        <h4>frais de port: {{ paymentsLink.payment.delivery }} </h4>
        <h4>taxes incluses: {{ paymentsLink.payment.tax }}%</h4>
        <a href="payment_process/{{paymentsLink.id}}">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
            Effectuer le paiement
          </button>
        </a>
        <hr>
      {% endfor %}
    </div>
  </div>
  
  <hr>
  
</div> <!-- /container -->

{% endblock %}
